@import './reset.css';
@import './settings.css';
@import './setup.css';
@import './structure.css';
@import './typography.css';
@import './developer-styles.css';


main {
  background: var(--white);
  color: var(--shadow);
}

@media (hover: hover) {
  a:hover {
    background-color: var(--shadow);
    color: var(--white);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;

  }

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}
